################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NAUPA-III-Schema/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
.vs/GitHub/v16/.suo
/.vs/GitHub/v16/TestStore/0/000.testlog
/.vs/GitHub/v16/TestStore/0/testlog.manifest
/.vs/GitHub/FileContentIndex/2dc0b5e0-6437-46a5-8b49-7584e155585c.vsidx
/.vs/GitHub/FileContentIndex/5048a941-657a-4bed-9876-498842ddfe7a.vsidx
/.vs/GitHub/FileContentIndex/read.lock
/.vs/GitHub/FileContentIndex
/.vs/GitHub/v17/.wsuo
/.vs/GitHub/v17/DocumentLayout.json
